# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Maven target
/target/
# IDE files
/.idea/
/*.iml
# Logs
*.log

# Node modules
/node_modules/
# Vite / build output
/dist/
/build/
# Logs
*.log